
@font-face {
  font-family: Feroniapi;
  src: url(fonts/feroniapi-main/fonts/woff2/Feroniapi-MediumItalic_edit.woff2), url(fonts/feroniapi-main/fonts/woff/Feroniapi-MediumItalic_edit.woff), url(fonts/feroniapi-main/fonts/otf/Feroniapi-MediumItalic_edit.otf);
}

@font-face {
  font-family: Interlope;
  src: url(fonts/interlope-main/font/web/Interlope-Regular.woff2);
}

@font-face {
  font-family: iAWriter Quattro;
  src: url(fonts/iawriter-quattro/Webfonts/iAWriterQuattroS-Regular.woff2);
}

@font-face {
  font-family: iAWriter Quattro;
  font-style: italic;
  src: url(fonts/iawriter-quattro/Webfonts/iAWriterQuattroS-Italic.woff2);
}

body {
  /* font-family: "Feroniapi"; */
  font-family: iAWriter Quattro;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f2f1;
  min-height: 100vh;
  margin: 0;
}

p {
  font-family: iAWriter Quattro;
  font-size: 0.9em;
}

header {
	margin-left: 3.27vw;
	margin-right: 3.27vw;
}

header,
header nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
}

h1#artist-name {
	font-family: "Feroniapi";
	font-size: 1.75em;
	margin-left: 0;
	padding-top: .15em;
}

h1#artist-name a {
	text-decoration: none;
	color: black;
}

nav ul {
	margin-right: -1.75vw;
}

/* h1#artist-name:hover { */
/* 	text-decoration: underline; */
/* } */

header h1,
header nav,
header nav ul li,
main,
footer {
	margin: 1.75vw;
	padding: 0;
}

header nav {
	margin-right: 0;
}

h1,
h2 {
  /* font-family: "Feroniapi"; */
  font-size: 1.3em;
}

h3 {
  font-family: "Feroniapi";
  font-size: 1.75em;
  margin-top: 0;
  margin-bottom: 0;
}

h3 time {
  font-family: iAWriter Quattro;
  float: right;
  margin-left: 1ch;
  color: #9a9996;
  font-size: 0.9em;
  margin-top: -2px;
}

header nav ul li {
  margin-left: 0.77em;
  list-style: none;
}

nav ul li h2 {
  margin-left: 0.77em;
  /* color: #741BE4; */
  font-weight: lighter;
}

nav ul li h2:hover {
  font-weight: normal;
  text-shadow:
    0 0 0.45px #222,
    0 0 0.45px #222;
}

img {
	width: 100%;
}

video {
	width: 50%;
}

main#writings div, main#writings div a {
	height: auto;
}

main#writings div a {
	display: block;
}

main#writings img {
  width: 99%;
}

main#writings img.medium, main#writings img.short {
	display: none;
}

figure,
p {
	margin-left: 0px;
	margin-right: 0px;
	  margin-top: 20px;
	  margin-bottom: 20px;
}

/* INDEX */

ul li figure {
  display: flex;
  flex-direction: column;
  align-content: center;
  aspect-ratio: 1;
  align-self: center;
}

ul li figure figcaption {
  font-size: 1.17em;
  /* color: white; */
  text-decoration-style: underline;
  padding: 5px;
  font-family: "Feroniapi";
  font-weight: 700;
  /* background-color: #241F27; */
  display: block;
  text-align: center;
  margin-top: auto;
  margin-bottom: 3px;
}

ul li figure hr {
  width: 0px;
}

ul li:nth-child(even) figure a img {
  background-color: #deddd6;
}

ul li:nth-child(odd) figure a img {
  background-color: #ded6dd;
}

ul li figure a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul li figure a img#shapes-of-play {
  padding: 8px;
}

main {
  margin-top: 60px;
  /* height: 60vh; */
  margin-left: 3.27vw;
  margin-right: 3.27vw;
}

main#writings div#double {
  height: 18.5vh;
}

main#writings div#double img {
  stroke: #f6f2f1;
  stroke-width: 1px;
}

main#writings,
main#about {
  margin-left: 3.5vw;
  margin-right: 3.5vw;
}

main div {
  margin-bottom: 10px;
}
main div.hr-impersonator {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 7.5vw;
}

main#writings div img:hover {
  cursor: pointer;
  filter: invert(38%) sepia(30%) saturate(1154%) hue-rotate(246deg)
    brightness(93%) contrast(85%);
}

main#index {
	margin-top: 0;
  height: 71vh;
}

ul.grid {
  height: 100%;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0;
}

ul.grid li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30px;
  min-height: 30px;
  width: 22vw;
  height: 29vh;
  margin-bottom: 44px;
}

ul.grid li a {
  color: black;
  display: initial;
  max-width: 100%;
  max-height: 100%;
  
}

ul.grid li figure:hover > figcaption {
  color: #974ea1;
  /* text-shadow: 1px 0 #0000cd;  */
}

ul.grid li figure:hover > a img {
  background-color: #d6dade;
  /* text-shadow: 1px 0 #0000cd;  */
}

ul.grid li a h3 {
  margin-bottom: 0;
}

ul.grid li figure {
  height: 100%;
  width: 100%;
  margin: 0;
}

ul.grid li a img {
  object-fit: contain;
  border-radius: 3px;
  height: 86%;
  aspect-ratio: 1;
  width: unset;
}

ul.grid li h4 {
  margin-top: 4px;
  font-family: "Feroniapi";
  font-style: italic;
  font-weight: 300;
}

/* ----- */

a {
  text-decoration: none;
}

a:focus {
  color: initial;
}

a.current {
  color: #f3a3ff;
}

h1 a {
  text-decoration: none;
}

main p {
  max-width: 70ch;
}

/* PAGE */

p {
  font-size: 1.1em;
  margin-top: 6vw;
  margin-bottom: 6.25vw;
}

h4 {
	color: black;
}

h5 {
	margin-top: 2.5vw;
  margin-bottom: 5vw;
	font-size: 0.833em;
	font-weight: 100;
}

h5 strong {
	font-weight: 700;
}

main 

div.hr-impersonator {
	width: 100%;
	font-family: "Feroniapi";
	font-size:3.5em;
}

hr {
  margin-top: 60px;
  margin-bottom: 60px;
}

	span.footnote {
		display: inline-block;
		font-family: "Feroniapi";
		font-weight: 700;

		background-color: #241F31;
		color: white;
		border-radius: 71%;
		padding-top: 1px;
		padding-left: 4px;
		padding-right: 4px;
		padding-bottom: 0px;
		
		font-size: 0.8em;
		margin-left: 3px;
	}

/* ABOUT */

main#about h2#top-heading {
  margin-top: 0;
}

figure#whale img {
	width: 85%;
	margin-left: 4vw;
	margin-top: auto;
}

/* main#about article { */
/*   display: flex; */
/*   justify-content: start; */
/*   gap: 15vw; */
/*   align-items: end; */
/* } */

main#about article {
	font-style: italic;

}

main#about article div {
	padding-left: .2vw;
	padding-right: .2vw;
	max-width: 44ch;
}

main#about article img {
  width: 20vw;
  /* transform: rotate(94deg); */
  margin: 1.36vw;

}

main#about article figure {
	margin-top: auto;
}

main#about p {
	margin-top: 1.5vw;
	margin-bottom: 1.5vw;
}

main#about h2 {
  margin-top: 2.6em;
  margin-bottom: 2.6em;
  font-weight: 500;
}

main#about h3 {
  font-size: 1.25em;
}

main#about div.period {
  align-content: start;
}

main#about div.period p {
  font-family: iAWriter Quattro;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

main#about article {
  margin-bottom: 5rem;
}

main#about article strong {
  font-size: 1.25em;
}

main#about section {
  margin-left: 0;
  margin-right: 0;
  display: grid;
  grid-template-columns: 20rem 1fr;
  row-gap: 1rem;
}

main#about > section {
  margin-bottom: 0.75rem;
}

/* div.row { */
/* 	display: flex; */
/* 	justify-content: space-between; */
/* } */

.flex-row {
	display: flex;
	justify-content: start;
	gap: 3em;
	}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 16px;
}

.row figure, .row div {
  width: 100%;
}

div.four-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 8px;
}

div.four-grid div,
div.four-grid figure {
  margin-top: 0;
  margin-bottom: 0;
}

div.four-grid figure img {
	  object-fit: cover;
	  width: 100%;
	  max-height: 100%;
}

div.four-grid div.cell1 {
  grid-column: span 4 / span 4;
  grid-row: span 5 / span 5;
}

div.four-grid div.cell4 {
  grid-column: span 4 / span 4;
  grid-row: span 5 / span 5;
  grid-column-start: 5;
  grid-row-start: 6;
}

div.four-grid div.cell2 {
  grid-column: span 4 / span 4;
  grid-row: span 5 / span 5;
  grid-column-start: 5;
  grid-row-start: 1;
}

div.four-grid div.cell3 {
  grid-column: span 4 / span 4;
  grid-row: span 5 / span 5;
  grid-column-start: 1;
  grid-row-start: 6;
}

div.four-grid_wide {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 8px;
}

div.four-grid_wide div,
div.four-grid_wide figure {
  margin-top: 0;
  margin-bottom: 0;
	width: auto;
}

div.four-grid_wide figure img {
	  object-fit: cover;
	  width: 100%;
	  max-height: 100%;
}

div.four-grid_wide div.cell1 {
  grid-column: span 5 / span 5;
  grid-row: span 4 / span 4;
}

div.four-grid_wide div.cell2 {
  grid-column: span 5 / span 5;
  grid-row: span 4 / span 4;
  grid-column-start: 6;
}

div.four-grid_wide div.cell3 {
  grid-column: span 5 / span 5;
  grid-row: span 4 / span 4;
  grid-row-start: 5;
}

div.four-grid_wide div.cell4 {
	grid-column: span 5 / span 5;
	grid-row: span 4 / span 4;
	grid-column-start: 6;
    grid-row-start: 5;
}

/* FOOTER */

footer {
  font-family: iAWriter Quattro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
	margin-left: 3.27vw;
	margin-right: 3.27vw;
	margin-bottom:1.1vw;
}

footer p {
  font-size: 1em;
  margin-right: 1em;
	margin-top: 0;
	margin-bottom: 0;
}

footer div#mail a {
	margin-botom: 0;
	margin-top: 0;
}

footer div#mail p:hover {
  text-decoration: underline;
}

footer div#up {
  font-family: "Feroniapi";
  font-size: 2.1em;
}

footer div#dingetje a p {
  font-size: 2.4em;
  font-family: Feroniapi;
}

footer div#dingetje span#font-example {
	font-family: "Feroniapi";
	font-size:1.23em;
	font-weight: bold;
	padding-right: 3px;
}

footer div#dingetje p.self-promotion_hidden:hover {
  color: #974ea1;
  cursor: help;
}

footer div#dingetje p.self-promotion_hidden {
  font-size: 2.5em;
  margin-right: 0.25em;
}

footer div#dingetje p.self-promotion_shown {
  font-size: 0.9em;
	cursor: e-resize;
	margin-right: 0.25em;
}

	.hide-on-desktop {
		display: none;
	}

.hide-on-mobile {
	display: initial;
}


@media (max-width: 860px) {

	body	{
		font-size: 14px;
	}

	header, main, main#about, main#writings, main#index, footer {
		margin-left: 4.5vw;
		margin-right: 4.5vw;
	}

	header {
		height: auto;
	}

	main#index, main {
		height: auto;
		margin-top: 0;
		margin-bottom: 60px;
	}

	main#index {
		margin-top: 3vw;
		margin-bottom: 3.5vw;
	}

	video {
	width: 75%;
}

	main figure {
		margin-bottom: 0;
	}

	main .row {
		gap: 0;
	}

	/* main ul.grid { */
	/* 	grid-template-columns: repeat(2, 1fr); */
	/* } */

	main .four-grid, main .four-grid_wide {
		display: initial;
	}

	main .four-grid div, main .four-grid_wide div {
		margin-top: 20px;
	}

	main#about section {
	  margin-left: 0;
	  margin-right: 0;
	  display: grid;
	  grid-template-columns: repeat(4, 1fr);
	  grid-template-rows: repeat (1, 1fr);
	  row-gap: 1rem;
	}

	main#about section div.thing {
		grid-column: span 3 / span 3;
	}

	article.flex-row {
		display: block;
	}

	main#about figure#whale {
		float: right;
		width: 30vw;
		margin-top: -10vw;
		margin-right: 12vw;
	}

	main#about figure#whale img {
		width: 35vw;
	}

	main#writings {
		margin-top: 8.5vw;
		margin-bottom: 0;
	}

	main#writings div, main#writings div#double {
		height: auto;
		padding-bottom: 40px;
	}

	main#writings img.long, main#writings img.short {
		display: none;
	}

	main#writings img.medium {
			display: initial;
		}

}

@media (max-width: 790px) {

	
	body	{
		font-size: 13px;
	}

	header, main, footer {
		margin-left: 5vw;
		margin-right: 5vw;
	}

	header {
		display: block;
		height: auto;
		margin-top: 2.5vw;
	}

	header nav {
		margin: 0;
	}

	header nav ul {
		padding-left: 0;
		margin-top: 0;
		/* justify-content: space-between; */
		justify-content: start;
	}
	
	header nav ul li {
		margin-top: 0;
		margin-left: 0;
		margin-right: 5vw;
		margin-bottom: 0;
	}

	header nav ul li h2 {
		margin-left: 0;
	}

	main#index, main {
		height: auto;
		margin-top: 0;
		margin-bottom: 60px;
	}

	main h3 time {
		position: relative;
		bottom: -7px;
		right: 0;
		margin-top: auto;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	video {
	width: 100%;
}

	main ul.grid {
		grid-template-columns: repeat(1, 1fr);
	}

	main ul.grid li {
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 15px;
	}

	main ul.grid li figcaption {
		font-size: 3.6vw;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 21px;
		text-align: left;
	}

	main ul.grid li figure img {
		width: 75%;
	}

	.row {
		grid-template-columns: repeat(1, 1fr);
	}

	main#writings {
		margin-top: 2.5vw;
		margin-bottom: 0;
	}

	main#writings div, main#writings div#double {
		height: auto;
		padding-bottom: 40px;
	}

	main#writings img.long, main#writings img.medium {
		display: none;
	}

	main#writings img.short {
			display: initial;
		}

	main#about figure#whale {
		float: unset;
		width: 30vw;
		margin-right: initial;
		margin-top: 20px;
		margin-bottom: 0;
	}

	main#about figure#whale img {
		width: 75vw;
		margin-top: 2rem;
	}

	main#about article {
		margin-bottom: 1rem;
	}

	main#about article.row {
		margin-bottom: initial;
	}

	main#about article.row div {
		margin-bottom: 0;
	}

	main#about section {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 22px;
		row-gap: 0;
	}
	
	main#about section div.period {
		display: inherit;
	}

	main#about section div.period p {
		width: 5ch;
	}

	main#about section#education div.period p {
		width: auto;
	}

	main#about section div {
		margin-bottom: 0;
	}

	footer {
		margin-bottom: 3.25vw;
	}
}

@media (max-width: 410px) {

	.hide-on-mobile {
		display: none;
}
		.hide-on-desktop {
		display: initial;
	}
}
