<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.ss01</key>
	<string>A_.ss01.glif</string>
	<key>A.ss02</key>
	<string>A_.ss02.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Aacute.ss01</key>
	<string>A_acute.ss01.glif</string>
	<key>Aacute.ss02</key>
	<string>A_acute.ss02.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Acircumflex.ss01</key>
	<string>A_circumflex.ss01.glif</string>
	<key>Acircumflex.ss02</key>
	<string>A_circumflex.ss02.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Adieresis.ss01</key>
	<string>A_dieresis.ss01.glif</string>
	<key>Adieresis.ss02</key>
	<string>A_dieresis.ss02.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Agrave.ss01</key>
	<string>A_grave.ss01.glif</string>
	<key>Agrave.ss02</key>
	<string>A_grave.ss02.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Aring.ss01</key>
	<string>A_ring.ss01.glif</string>
	<key>Aring.ss02</key>
	<string>A_ring.ss02.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.ss01</key>
	<string>B_.ss01.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.ss01</key>
	<string>C_.ss01.glif</string>
	<key>C.ss02</key>
	<string>C_.ss02.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Ccedilla.ss01</key>
	<string>C_cedilla.ss01.glif</string>
	<key>Ccedilla.ss02</key>
	<string>C_cedilla.ss02.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.ss01</key>
	<string>D_.ss01.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.ss01</key>
	<string>E_.ss01.glif</string>
	<key>E.ss02</key>
	<string>E_.ss02.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Eacute.ss01</key>
	<string>E_acute.ss01.glif</string>
	<key>Eacute.ss02</key>
	<string>E_acute.ss02.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Ecircumflex.ss01</key>
	<string>E_circumflex.ss01.glif</string>
	<key>Ecircumflex.ss02</key>
	<string>E_circumflex.ss02.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edieresis.ss01</key>
	<string>E_dieresis.ss01.glif</string>
	<key>Edieresis.ss02</key>
	<string>E_dieresis.ss02.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Egrave.ss01</key>
	<string>E_grave.ss01.glif</string>
	<key>Egrave.ss02</key>
	<string>E_grave.ss02.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.ss01</key>
	<string>F_.ss01.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.ss01</key>
	<string>G_.ss01.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.ss01</key>
	<string>H_.ss01.glif</string>
	<key>H.ss02</key>
	<string>H_.ss02.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.ss01</key>
	<string>I_.ss01.glif</string>
	<key>I.ss02</key>
	<string>I_.ss02.glif</string>
	<key>I.ss03</key>
	<string>I_.ss03.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Iacute.ss01</key>
	<string>I_acute.ss01.glif</string>
	<key>Iacute.ss02</key>
	<string>I_acute.ss02.glif</string>
	<key>Iacute.ss03</key>
	<string>I_acute.ss03.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Icircumflex.ss01</key>
	<string>I_circumflex.ss01.glif</string>
	<key>Icircumflex.ss02</key>
	<string>I_circumflex.ss02.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idieresis.ss01</key>
	<string>I_dieresis.ss01.glif</string>
	<key>Idieresis.ss02</key>
	<string>I_dieresis.ss02.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Igrave.ss01</key>
	<string>I_grave.ss01.glif</string>
	<key>Igrave.ss02</key>
	<string>I_grave.ss02.glif</string>
	<key>Igrave.ss03</key>
	<string>I_grave.ss03.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.ss01</key>
	<string>J_.ss01.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.ss01</key>
	<string>K_.ss01.glif</string>
	<key>K.ss02</key>
	<string>K_.ss02.glif</string>
	<key>K.ss03</key>
	<string>K_.ss03.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.ss01</key>
	<string>L_.ss01.glif</string>
	<key>L.ss02</key>
	<string>L_.ss02.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.ss01</key>
	<string>M_.ss01.glif</string>
	<key>M.ss02</key>
	<string>M_.ss02.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.ss01</key>
	<string>N_.ss01.glif</string>
	<key>N.ss02</key>
	<string>N_.ss02.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>Ntilde.ss01</key>
	<string>N_tilde.ss01.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.ss01</key>
	<string>O_.ss01.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Oacute.ss01</key>
	<string>O_acute.ss01.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Ocircumflex.ss01</key>
	<string>O_circumflex.ss01.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Odieresis.ss01</key>
	<string>O_dieresis.ss01.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ograve.ss01</key>
	<string>O_grave.ss01.glif</string>
	<key>Ornement1</key>
	<string>O_rnement1.glif</string>
	<key>Ornement2</key>
	<string>O_rnement2.glif</string>
	<key>Ornement3</key>
	<string>O_rnement3.glif</string>
	<key>Ornement4</key>
	<string>O_rnement4.glif</string>
	<key>Ornement5</key>
	<string>O_rnement5.glif</string>
	<key>Ornement6</key>
	<string>O_rnement6.glif</string>
	<key>Ornement7</key>
	<string>O_rnement7.glif</string>
	<key>Ornement8</key>
	<string>O_rnement8.glif</string>
	<key>Ornementbdc_1</key>
	<string>O_rnementbdc_1.glif</string>
	<key>Ornementbdc_1.001</key>
	<string>O_rnementbdc_1.001.glif</string>
	<key>Ornementbdc_2</key>
	<string>O_rnementbdc_2.glif</string>
	<key>Ornementbdc_3</key>
	<string>O_rnementbdc_3.glif</string>
	<key>Ornementbdc_4</key>
	<string>O_rnementbdc_4.glif</string>
	<key>Ornementbdc_5</key>
	<string>O_rnementbdc_5.glif</string>
	<key>Ornementbdc_6</key>
	<string>O_rnementbdc_6.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>Otilde.ss01</key>
	<string>O_tilde.ss01.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.ss01</key>
	<string>P_.ss01.glif</string>
	<key>P.ss02</key>
	<string>P_.ss02.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.ss01</key>
	<string>Q_.ss01.glif</string>
	<key>Q.ss02</key>
	<string>Q_.ss02.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.ss01</key>
	<string>R_.ss01.glif</string>
	<key>R.ss02</key>
	<string>R_.ss02.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.ss01</key>
	<string>S_.ss01.glif</string>
	<key>S.ss02</key>
	<string>S_.ss02.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.ss01</key>
	<string>T_.ss01.glif</string>
	<key>T.ss02</key>
	<string>T_.ss02.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.ss01</key>
	<string>U_.ss01.glif</string>
	<key>U.ss02</key>
	<string>U_.ss02.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Uacute.ss01</key>
	<string>U_acute.ss01.glif</string>
	<key>Uacute.ss02</key>
	<string>U_acute.ss02.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Ucircumflex.ss01</key>
	<string>U_circumflex.ss01.glif</string>
	<key>Ucircumflex.ss02</key>
	<string>U_circumflex.ss02.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Udieresis.ss01</key>
	<string>U_dieresis.ss01.glif</string>
	<key>Udieresis.ss02</key>
	<string>U_dieresis.ss02.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Ugrave.ss01</key>
	<string>U_grave.ss01.glif</string>
	<key>Ugrave.ss02</key>
	<string>U_grave.ss02.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.ss01</key>
	<string>V_.ss01.glif</string>
	<key>VTF</key>
	<string>V_T_F_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.ss01</key>
	<string>W_.ss01.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.ss01</key>
	<string>X_.ss01.glif</string>
	<key>X.ss02</key>
	<string>X_.ss02.glif</string>
	<key>X.ss03</key>
	<string>X_.ss03.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.ss01</key>
	<string>Y_.ss01.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Yacute.ss01</key>
	<string>Y_acute.ss01.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ydieresis.ss01</key>
	<string>Y_dieresis.ss01.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.ss01</key>
	<string>Z_.ss01.glif</string>
	<key>_owl</key>
	<string>_owl.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>a.ss02</key>
	<string>a.ss02.glif</string>
	<key>a.ss03</key>
	<string>a.ss03.glif</string>
	<key>a.ss04</key>
	<string>a.ss04.glif</string>
	<key>a.ss05</key>
	<string>a.ss05.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.ss01</key>
	<string>aacute.ss01.glif</string>
	<key>aacute.ss02</key>
	<string>aacute.ss02.glif</string>
	<key>aacute.ss03</key>
	<string>aacute.ss03.glif</string>
	<key>aacute.ss04</key>
	<string>aacute.ss04.glif</string>
	<key>aacute.ss05</key>
	<string>aacute.ss05.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.ss01</key>
	<string>acircumflex.ss01.glif</string>
	<key>acircumflex.ss02</key>
	<string>acircumflex.ss02.glif</string>
	<key>acircumflex.ss03</key>
	<string>acircumflex.ss03.glif</string>
	<key>acircumflex.ss04</key>
	<string>acircumflex.ss04.glif</string>
	<key>acircumflex.ss05</key>
	<string>acircumflex.ss05.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.ss01</key>
	<string>adieresis.ss01.glif</string>
	<key>adieresis.ss02</key>
	<string>adieresis.ss02.glif</string>
	<key>adieresis.ss03</key>
	<string>adieresis.ss03.glif</string>
	<key>adieresis.ss04</key>
	<string>adieresis.ss04.glif</string>
	<key>adieresis.ss05</key>
	<string>adieresis.ss05.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.ss01</key>
	<string>agrave.ss01.glif</string>
	<key>agrave.ss02</key>
	<string>agrave.ss02.glif</string>
	<key>agrave.ss03</key>
	<string>agrave.ss03.glif</string>
	<key>agrave.ss04</key>
	<string>agrave.ss04.glif</string>
	<key>agrave.ss05</key>
	<string>agrave.ss05.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.ss01</key>
	<string>aring.ss01.glif</string>
	<key>aring.ss02</key>
	<string>aring.ss02.glif</string>
	<key>aring.ss03</key>
	<string>aring.ss03.glif</string>
	<key>aring.ss04</key>
	<string>aring.ss04.glif</string>
	<key>aring.ss05</key>
	<string>aring.ss05.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.ss01</key>
	<string>atilde.ss01.glif</string>
	<key>atilde.ss02</key>
	<string>atilde.ss02.glif</string>
	<key>atilde.ss03</key>
	<string>atilde.ss03.glif</string>
	<key>atilde.ss04</key>
	<string>atilde.ss04.glif</string>
	<key>atilde.ss05</key>
	<string>atilde.ss05.glif</string>
	<key>attaque</key>
	<string>attaque.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b_y</key>
	<string>b_y.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>barre</key>
	<string>barre.glif</string>
	<key>bb</key>
	<string>bb.glif</string>
	<key>bf</key>
	<string>bf.glif</string>
	<key>bh</key>
	<string>bh.glif</string>
	<key>bi</key>
	<string>bi.glif</string>
	<key>bi.ss01</key>
	<string>bi.ss01.glif</string>
	<key>bi.ss02</key>
	<string>bi.ss02.glif</string>
	<key>bi.ss03</key>
	<string>bi.ss03.glif</string>
	<key>bi.ss04</key>
	<string>bi.ss04.glif</string>
	<key>bi.ss05</key>
	<string>bi.ss05.glif</string>
	<key>bicircumflex</key>
	<string>bicircumflex.glif</string>
	<key>bidieresis</key>
	<string>bidieresis.glif</string>
	<key>bj</key>
	<string>bj.glif</string>
	<key>bk</key>
	<string>bk.glif</string>
	<key>bl</key>
	<string>bl.glif</string>
	<key>bm</key>
	<string>bm.glif</string>
	<key>bn</key>
	<string>bn.glif</string>
	<key>bp</key>
	<string>bp.glif</string>
	<key>br</key>
	<string>br.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bs</key>
	<string>bs.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bv</key>
	<string>bv.glif</string>
	<key>bw</key>
	<string>bw.glif</string>
	<key>bz</key>
	<string>bz.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.ss01</key>
	<string>c.ss01.glif</string>
	<key>c.ss02</key>
	<string>c.ss02.glif</string>
	<key>c.ss03</key>
	<string>c.ss03.glif</string>
	<key>c.ss04</key>
	<string>c.ss04.glif</string>
	<key>c.ss05</key>
	<string>c.ss05.glif</string>
	<key>caroncomb</key>
	<string>caroncomb.glif</string>
	<key>caroncomb.alt</key>
	<string>caroncomb.alt.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>circumol</key>
	<string>circumol.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccentcomb</key>
	<string>commaaccentcomb.glif</string>
	<key>commaturnedabovecomb</key>
	<string>commaturnedabovecomb.glif</string>
	<key>contrepoincon</key>
	<string>contrepoincon.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.ss01</key>
	<string>d.ss01.glif</string>
	<key>d.ss02</key>
	<string>d.ss02.glif</string>
	<key>d.ss03</key>
	<string>d.ss03.glif</string>
	<key>d.ss04</key>
	<string>d.ss04.glif</string>
	<key>d.ss05</key>
	<string>d.ss05.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dot</key>
	<string>dot.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>downArrow</key>
	<string>downA_rrow.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.ss01</key>
	<string>e.ss01.glif</string>
	<key>e.ss02</key>
	<string>e.ss02.glif</string>
	<key>e.ss03</key>
	<string>e.ss03.glif</string>
	<key>e.ss04</key>
	<string>e.ss04.glif</string>
	<key>e.ss05</key>
	<string>e.ss05.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>eacute.ss01</key>
	<string>eacute.ss01.glif</string>
	<key>eacute.ss02</key>
	<string>eacute.ss02.glif</string>
	<key>eacute.ss03</key>
	<string>eacute.ss03.glif</string>
	<key>eacute.ss04</key>
	<string>eacute.ss04.glif</string>
	<key>eacute.ss05</key>
	<string>eacute.ss05.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>ecircumflex.ss01</key>
	<string>ecircumflex.ss01.glif</string>
	<key>ecircumflex.ss02</key>
	<string>ecircumflex.ss02.glif</string>
	<key>ecircumflex.ss03</key>
	<string>ecircumflex.ss03.glif</string>
	<key>ecircumflex.ss04</key>
	<string>ecircumflex.ss04.glif</string>
	<key>ecircumflex.ss05</key>
	<string>ecircumflex.ss05.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edieresis.ss01</key>
	<string>edieresis.ss01.glif</string>
	<key>edieresis.ss02</key>
	<string>edieresis.ss02.glif</string>
	<key>edieresis.ss03</key>
	<string>edieresis.ss03.glif</string>
	<key>edieresis.ss04</key>
	<string>edieresis.ss04.glif</string>
	<key>edieresis.ss05</key>
	<string>edieresis.ss05.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>egrave.ss01</key>
	<string>egrave.ss01.glif</string>
	<key>egrave.ss02</key>
	<string>egrave.ss02.glif</string>
	<key>egrave.ss03</key>
	<string>egrave.ss03.glif</string>
	<key>egrave.ss04</key>
	<string>egrave.ss04.glif</string>
	<key>egrave.ss05</key>
	<string>egrave.ss05.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fut-att-bdc</key>
	<string>fut-att-bdc.glif</string>
	<key>fut-bdc</key>
	<string>fut-bdc.glif</string>
	<key>fut_cap</key>
	<string>fut_cap.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.ss01</key>
	<string>h.ss01.glif</string>
	<key>h.ss02</key>
	<string>h.ss02.glif</string>
	<key>h.ss03</key>
	<string>h.ss03.glif</string>
	<key>h.ss04</key>
	<string>h.ss04.glif</string>
	<key>h.ss05</key>
	<string>h.ss05.glif</string>
	<key>hungarumlautcomb</key>
	<string>hungarumlautcomb.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.ss01</key>
	<string>i.ss01.glif</string>
	<key>i.ss02</key>
	<string>i.ss02.glif</string>
	<key>i.ss03</key>
	<string>i.ss03.glif</string>
	<key>i.ss04</key>
	<string>i.ss04.glif</string>
	<key>i.ss05</key>
	<string>i.ss05.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>iacute.ss01</key>
	<string>iacute.ss01.glif</string>
	<key>iacute.ss02</key>
	<string>iacute.ss02.glif</string>
	<key>iacute.ss03</key>
	<string>iacute.ss03.glif</string>
	<key>iacute.ss04</key>
	<string>iacute.ss04.glif</string>
	<key>iacute.ss05</key>
	<string>iacute.ss05.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>icircumflex.ss01</key>
	<string>icircumflex.ss01.glif</string>
	<key>icircumflex.ss02</key>
	<string>icircumflex.ss02.glif</string>
	<key>icircumflex.ss03</key>
	<string>icircumflex.ss03.glif</string>
	<key>icircumflex.ss04</key>
	<string>icircumflex.ss04.glif</string>
	<key>icircumflex.ss05</key>
	<string>icircumflex.ss05.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idieresis.ss01</key>
	<string>idieresis.ss01.glif</string>
	<key>idieresis.ss02</key>
	<string>idieresis.ss02.glif</string>
	<key>idieresis.ss03</key>
	<string>idieresis.ss03.glif</string>
	<key>idieresis.ss04</key>
	<string>idieresis.ss04.glif</string>
	<key>idieresis.ss05</key>
	<string>idieresis.ss05.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>igrave.ss01</key>
	<string>igrave.ss01.glif</string>
	<key>igrave.ss02</key>
	<string>igrave.ss02.glif</string>
	<key>igrave.ss03</key>
	<string>igrave.ss03.glif</string>
	<key>igrave.ss04</key>
	<string>igrave.ss04.glif</string>
	<key>igrave.ss05</key>
	<string>igrave.ss05.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>it</key>
	<string>it.glif</string>
	<key>it.ss01</key>
	<string>it.ss01.glif</string>
	<key>it.ss02</key>
	<string>it.ss02.glif</string>
	<key>it.ss03</key>
	<string>it.ss03.glif</string>
	<key>it.ss04</key>
	<string>it.ss04.glif</string>
	<key>it.ss05</key>
	<string>it.ss05.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.ss01</key>
	<string>k.ss01.glif</string>
	<key>k.ss02</key>
	<string>k.ss02.glif</string>
	<key>k.ss03</key>
	<string>k.ss03.glif</string>
	<key>k.ss04</key>
	<string>k.ss04.glif</string>
	<key>k.ss05</key>
	<string>k.ss05.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.ss01</key>
	<string>l.ss01.glif</string>
	<key>l.ss02</key>
	<string>l.ss02.glif</string>
	<key>l.ss03</key>
	<string>l.ss03.glif</string>
	<key>l.ss04</key>
	<string>l.ss04.glif</string>
	<key>l.ss05</key>
	<string>l.ss05.glif</string>
	<key>leftArrow</key>
	<string>leftA_rrow.glif</string>
	<key>leftRightArrow</key>
	<string>leftR_ightA_rrow.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.ss01</key>
	<string>m.ss01.glif</string>
	<key>m.ss02</key>
	<string>m.ss02.glif</string>
	<key>m.ss03</key>
	<string>m.ss03.glif</string>
	<key>m.ss04</key>
	<string>m.ss04.glif</string>
	<key>m.ss05</key>
	<string>m.ss05.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.ss01</key>
	<string>n.ss01.glif</string>
	<key>n.ss02</key>
	<string>n.ss02.glif</string>
	<key>n.ss03</key>
	<string>n.ss03.glif</string>
	<key>n.ss04</key>
	<string>n.ss04.glif</string>
	<key>n.ss05</key>
	<string>n.ss05.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>northEastArrow</key>
	<string>northE_astA_rrow.glif</string>
	<key>northWestArrow</key>
	<string>northW_estA_rrow.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>ntilde.ss01</key>
	<string>ntilde.ss01.glif</string>
	<key>ntilde.ss02</key>
	<string>ntilde.ss02.glif</string>
	<key>ntilde.ss03</key>
	<string>ntilde.ss03.glif</string>
	<key>ntilde.ss04</key>
	<string>ntilde.ss04.glif</string>
	<key>ntilde.ss05</key>
	<string>ntilde.ss05.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.ss01</key>
	<string>o.ss01.glif</string>
	<key>o.ss02</key>
	<string>o.ss02.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>oacute.ss01</key>
	<string>oacute.ss01.glif</string>
	<key>oacuteb</key>
	<string>oacuteb.glif</string>
	<key>oacutebr</key>
	<string>oacutebr.glif</string>
	<key>oacutebs</key>
	<string>oacutebs.glif</string>
	<key>oacutef</key>
	<string>oacutef.glif</string>
	<key>oacuteh</key>
	<string>oacuteh.glif</string>
	<key>oacutej</key>
	<string>oacutej.glif</string>
	<key>oacutek</key>
	<string>oacutek.glif</string>
	<key>oacutel</key>
	<string>oacutel.glif</string>
	<key>oacutem</key>
	<string>oacutem.glif</string>
	<key>oacuten</key>
	<string>oacuten.glif</string>
	<key>oacutep</key>
	<string>oacutep.glif</string>
	<key>oacuter</key>
	<string>oacuter.glif</string>
	<key>oacutes</key>
	<string>oacutes.glif</string>
	<key>oacutev</key>
	<string>oacutev.glif</string>
	<key>oacutevi</key>
	<string>oacutevi.glif</string>
	<key>oacutevicircumflex</key>
	<string>oacutevicircumflex.glif</string>
	<key>oacutevidieresis</key>
	<string>oacutevidieresis.glif</string>
	<key>oacutew</key>
	<string>oacutew.glif</string>
	<key>oacutewi</key>
	<string>oacutewi.glif</string>
	<key>oacutewicircumflex</key>
	<string>oacutewicircumflex.glif</string>
	<key>oacutewidieresis</key>
	<string>oacutewidieresis.glif</string>
	<key>oacutews</key>
	<string>oacutews.glif</string>
	<key>oacutey</key>
	<string>oacutey.glif</string>
	<key>oacutez</key>
	<string>oacutez.glif</string>
	<key>ob</key>
	<string>ob.glif</string>
	<key>obr</key>
	<string>obr.glif</string>
	<key>obs</key>
	<string>obs.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>ocircumflex.ss01</key>
	<string>ocircumflex.ss01.glif</string>
	<key>ocircumflexb</key>
	<string>ocircumflexb.glif</string>
	<key>ocircumflexbr</key>
	<string>ocircumflexbr.glif</string>
	<key>ocircumflexbs</key>
	<string>ocircumflexbs.glif</string>
	<key>ocircumflexf</key>
	<string>ocircumflexf.glif</string>
	<key>ocircumflexh</key>
	<string>ocircumflexh.glif</string>
	<key>ocircumflexj</key>
	<string>ocircumflexj.glif</string>
	<key>ocircumflexk</key>
	<string>ocircumflexk.glif</string>
	<key>ocircumflexl</key>
	<string>ocircumflexl.glif</string>
	<key>ocircumflexm</key>
	<string>ocircumflexm.glif</string>
	<key>ocircumflexn</key>
	<string>ocircumflexn.glif</string>
	<key>ocircumflexp</key>
	<string>ocircumflexp.glif</string>
	<key>ocircumflexr</key>
	<string>ocircumflexr.glif</string>
	<key>ocircumflexs</key>
	<string>ocircumflexs.glif</string>
	<key>ocircumflexv</key>
	<string>ocircumflexv.glif</string>
	<key>ocircumflexvi</key>
	<string>ocircumflexvi.glif</string>
	<key>ocircumflexvicircumflex</key>
	<string>ocircumflexvicircumflex.glif</string>
	<key>ocircumflexvidieresis</key>
	<string>ocircumflexvidieresis.glif</string>
	<key>ocircumflexw</key>
	<string>ocircumflexw.glif</string>
	<key>ocircumflexwi</key>
	<string>ocircumflexwi.glif</string>
	<key>ocircumflexwicircumflex</key>
	<string>ocircumflexwicircumflex.glif</string>
	<key>ocircumflexwidieresis</key>
	<string>ocircumflexwidieresis.glif</string>
	<key>ocircumflexws</key>
	<string>ocircumflexws.glif</string>
	<key>ocircumflexy</key>
	<string>ocircumflexy.glif</string>
	<key>ocircumflexz</key>
	<string>ocircumflexz.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>odieresis.ss01</key>
	<string>odieresis.ss01.glif</string>
	<key>odieresisb</key>
	<string>odieresisb.glif</string>
	<key>odieresisbr</key>
	<string>odieresisbr.glif</string>
	<key>odieresisbs</key>
	<string>odieresisbs.glif</string>
	<key>odieresisf</key>
	<string>odieresisf.glif</string>
	<key>odieresish</key>
	<string>odieresish.glif</string>
	<key>odieresisj</key>
	<string>odieresisj.glif</string>
	<key>odieresisk</key>
	<string>odieresisk.glif</string>
	<key>odieresisl</key>
	<string>odieresisl.glif</string>
	<key>odieresism</key>
	<string>odieresism.glif</string>
	<key>odieresisn</key>
	<string>odieresisn.glif</string>
	<key>odieresisp</key>
	<string>odieresisp.glif</string>
	<key>odieresisr</key>
	<string>odieresisr.glif</string>
	<key>odieresiss</key>
	<string>odieresiss.glif</string>
	<key>odieresisv</key>
	<string>odieresisv.glif</string>
	<key>odieresisvi</key>
	<string>odieresisvi.glif</string>
	<key>odieresisvicircumflex</key>
	<string>odieresisvicircumflex.glif</string>
	<key>odieresisvidieresis</key>
	<string>odieresisvidieresis.glif</string>
	<key>odieresisw</key>
	<string>odieresisw.glif</string>
	<key>odieresiswi</key>
	<string>odieresiswi.glif</string>
	<key>odieresiswicircumflex</key>
	<string>odieresiswicircumflex.glif</string>
	<key>odieresiswidieresis</key>
	<string>odieresiswidieresis.glif</string>
	<key>odieresisws</key>
	<string>odieresisws.glif</string>
	<key>odieresisy</key>
	<string>odieresisy.glif</string>
	<key>odieresisz</key>
	<string>odieresisz.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>of</key>
	<string>of.glif</string>
	<key>ogonekcomb</key>
	<string>ogonekcomb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ograve.ss01</key>
	<string>ograve.ss01.glif</string>
	<key>oh</key>
	<string>oh.glif</string>
	<key>oi</key>
	<string>oi.glif</string>
	<key>oi.ss01</key>
	<string>oi.ss01.glif</string>
	<key>oi.ss02</key>
	<string>oi.ss02.glif</string>
	<key>oi.ss03</key>
	<string>oi.ss03.glif</string>
	<key>oi.ss04</key>
	<string>oi.ss04.glif</string>
	<key>oi.ss05</key>
	<string>oi.ss05.glif</string>
	<key>oicircumflex</key>
	<string>oicircumflex.glif</string>
	<key>oicircumflex.ss01</key>
	<string>oicircumflex.ss01.glif</string>
	<key>oicircumflex.ss02</key>
	<string>oicircumflex.ss02.glif</string>
	<key>oicircumflex.ss03</key>
	<string>oicircumflex.ss03.glif</string>
	<key>oicircumflex.ss04</key>
	<string>oicircumflex.ss04.glif</string>
	<key>oicircumflex.ss05</key>
	<string>oicircumflex.ss05.glif</string>
	<key>oidieseris</key>
	<string>oidieseris.glif</string>
	<key>oidieseris.ss01</key>
	<string>oidieseris.ss01.glif</string>
	<key>oidieseris.ss02</key>
	<string>oidieseris.ss02.glif</string>
	<key>oidieseris.ss03</key>
	<string>oidieseris.ss03.glif</string>
	<key>oidieseris.ss04</key>
	<string>oidieseris.ss04.glif</string>
	<key>oidieseris.ss05</key>
	<string>oidieseris.ss05.glif</string>
	<key>oit</key>
	<string>oit.glif</string>
	<key>oit.ss01</key>
	<string>oit.ss01.glif</string>
	<key>oit.ss02</key>
	<string>oit.ss02.glif</string>
	<key>oit.ss03</key>
	<string>oit.ss03.glif</string>
	<key>oit.ss04</key>
	<string>oit.ss04.glif</string>
	<key>oit.ss05</key>
	<string>oit.ss05.glif</string>
	<key>oj</key>
	<string>oj.glif</string>
	<key>ok</key>
	<string>ok.glif</string>
	<key>ok.ss01</key>
	<string>ok.ss01.glif</string>
	<key>ok.ss02</key>
	<string>ok.ss02.glif</string>
	<key>ok.ss03</key>
	<string>ok.ss03.glif</string>
	<key>ok.ss04</key>
	<string>ok.ss04.glif</string>
	<key>ok.ss05</key>
	<string>ok.ss05.glif</string>
	<key>ol</key>
	<string>ol.glif</string>
	<key>ol.ss01</key>
	<string>ol.ss01.glif</string>
	<key>ol.ss02</key>
	<string>ol.ss02.glif</string>
	<key>ol.ss03</key>
	<string>ol.ss03.glif</string>
	<key>ol.ss04</key>
	<string>ol.ss04.glif</string>
	<key>ol.ss05</key>
	<string>ol.ss05.glif</string>
	<key>om</key>
	<string>om.glif</string>
	<key>om.ss01</key>
	<string>om.ss01.glif</string>
	<key>om.ss02</key>
	<string>om.ss02.glif</string>
	<key>om.ss03</key>
	<string>om.ss03.glif</string>
	<key>om.ss04</key>
	<string>om.ss04.glif</string>
	<key>om.ss05</key>
	<string>om.ss05.glif</string>
	<key>on</key>
	<string>on.glif</string>
	<key>on.ss01</key>
	<string>on.ss01.glif</string>
	<key>on.ss02</key>
	<string>on.ss02.glif</string>
	<key>on.ss03</key>
	<string>on.ss03.glif</string>
	<key>on.ss04</key>
	<string>on.ss04.glif</string>
	<key>on.ss05</key>
	<string>on.ss05.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>op</key>
	<string>op.glif</string>
	<key>or</key>
	<string>or.glif</string>
	<key>or.ss01</key>
	<string>or.ss01.glif</string>
	<key>or.ss02</key>
	<string>or.ss02.glif</string>
	<key>or.ss03</key>
	<string>or.ss03.glif</string>
	<key>or.ss04</key>
	<string>or.ss04.glif</string>
	<key>or.ss05</key>
	<string>or.ss05.glif</string>
	<key>os</key>
	<string>os.glif</string>
	<key>os.ss01</key>
	<string>os.ss01.glif</string>
	<key>os.ss02</key>
	<string>os.ss02.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>otilde.ss01</key>
	<string>otilde.ss01.glif</string>
	<key>ov</key>
	<string>ov.glif</string>
	<key>ov.ss01</key>
	<string>ov.ss01.glif</string>
	<key>ov.ss02</key>
	<string>ov.ss02.glif</string>
	<key>ov.ss03</key>
	<string>ov.ss03.glif</string>
	<key>ov.ss04</key>
	<string>ov.ss04.glif</string>
	<key>ovi</key>
	<string>ovi.glif</string>
	<key>ovi.ss01</key>
	<string>ovi.ss01.glif</string>
	<key>ovi.ss02</key>
	<string>ovi.ss02.glif</string>
	<key>ovi.ss03</key>
	<string>ovi.ss03.glif</string>
	<key>ovi.ss04</key>
	<string>ovi.ss04.glif</string>
	<key>ovi.ss05</key>
	<string>ovi.ss05.glif</string>
	<key>ovicircumflex</key>
	<string>ovicircumflex.glif</string>
	<key>ovidieresis</key>
	<string>ovidieresis.glif</string>
	<key>ow</key>
	<string>ow.glif</string>
	<key>owi</key>
	<string>owi.glif</string>
	<key>owi.ss01</key>
	<string>owi.ss01.glif</string>
	<key>owi.ss02</key>
	<string>owi.ss02.glif</string>
	<key>owi.ss03</key>
	<string>owi.ss03.glif</string>
	<key>owi.ss04</key>
	<string>owi.ss04.glif</string>
	<key>owi.ss05</key>
	<string>owi.ss05.glif</string>
	<key>owicircumflex</key>
	<string>owicircumflex.glif</string>
	<key>owidieresis</key>
	<string>owidieresis.glif</string>
	<key>ows</key>
	<string>ows.glif</string>
	<key>oy</key>
	<string>oy.glif</string>
	<key>oz</key>
	<string>oz.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>pont</key>
	<string>pont.glif</string>
	<key>pont-fut-bdc</key>
	<string>pont-fut-bdc.glif</string>
	<key>pont_bis</key>
	<string>pont_bis.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>r.ss02</key>
	<string>r.ss02.glif</string>
	<key>r.ss03</key>
	<string>r.ss03.glif</string>
	<key>r.ss04</key>
	<string>r.ss04.glif</string>
	<key>r.ss05</key>
	<string>r.ss05.glif</string>
	<key>rightArrow</key>
	<string>rightA_rrow.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.ss01</key>
	<string>s.ss01.glif</string>
	<key>s.ss02</key>
	<string>s.ss02.glif</string>
	<key>s.ss03</key>
	<string>s.ss03.glif</string>
	<key>s.ss04</key>
	<string>s.ss04.glif</string>
	<key>s.ss05</key>
	<string>s.ss05.glif</string>
	<key>s.ss06</key>
	<string>s.ss06.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>southEastArrow</key>
	<string>southE_astA_rrow.glif</string>
	<key>southWestArrow</key>
	<string>southW_estA_rrow.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.ss01</key>
	<string>t.ss01.glif</string>
	<key>t.ss02</key>
	<string>t.ss02.glif</string>
	<key>t.ss03</key>
	<string>t.ss03.glif</string>
	<key>t.ss04</key>
	<string>t.ss04.glif</string>
	<key>t.ss05</key>
	<string>t.ss05.glif</string>
	<key>t.ss06</key>
	<string>t.ss06.glif</string>
	<key>thinspace</key>
	<string>thinspace.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tt</key>
	<string>tt.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.ss01</key>
	<string>u.ss01.glif</string>
	<key>u.ss02</key>
	<string>u.ss02.glif</string>
	<key>u.ss03</key>
	<string>u.ss03.glif</string>
	<key>u.ss04</key>
	<string>u.ss04.glif</string>
	<key>u.ss05</key>
	<string>u.ss05.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>uacute.ss01</key>
	<string>uacute.ss01.glif</string>
	<key>uacute.ss02</key>
	<string>uacute.ss02.glif</string>
	<key>uacute.ss03</key>
	<string>uacute.ss03.glif</string>
	<key>uacute.ss04</key>
	<string>uacute.ss04.glif</string>
	<key>uacute.ss05</key>
	<string>uacute.ss05.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>ucircumflex.ss01</key>
	<string>ucircumflex.ss01.glif</string>
	<key>ucircumflex.ss02</key>
	<string>ucircumflex.ss02.glif</string>
	<key>ucircumflex.ss03</key>
	<string>ucircumflex.ss03.glif</string>
	<key>ucircumflex.ss04</key>
	<string>ucircumflex.ss04.glif</string>
	<key>ucircumflex.ss05</key>
	<string>ucircumflex.ss05.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udieresis.ss01</key>
	<string>udieresis.ss01.glif</string>
	<key>udieresis.ss02</key>
	<string>udieresis.ss02.glif</string>
	<key>udieresis.ss03</key>
	<string>udieresis.ss03.glif</string>
	<key>udieresis.ss04</key>
	<string>udieresis.ss04.glif</string>
	<key>udieresis.ss05</key>
	<string>udieresis.ss05.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>ugrave.ss01</key>
	<string>ugrave.ss01.glif</string>
	<key>ugrave.ss02</key>
	<string>ugrave.ss02.glif</string>
	<key>ugrave.ss03</key>
	<string>ugrave.ss03.glif</string>
	<key>ugrave.ss04</key>
	<string>ugrave.ss04.glif</string>
	<key>ugrave.ss05</key>
	<string>ugrave.ss05.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>upArrow</key>
	<string>upA_rrow.glif</string>
	<key>upDownArrow</key>
	<string>upD_ownA_rrow.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.ss01</key>
	<string>v.ss01.glif</string>
	<key>v.ss02</key>
	<string>v.ss02.glif</string>
	<key>vb</key>
	<string>vb.glif</string>
	<key>vf</key>
	<string>vf.glif</string>
	<key>vh</key>
	<string>vh.glif</string>
	<key>vi</key>
	<string>vi.glif</string>
	<key>vi.ss01</key>
	<string>vi.ss01.glif</string>
	<key>vi.ss02</key>
	<string>vi.ss02.glif</string>
	<key>vi.ss03</key>
	<string>vi.ss03.glif</string>
	<key>vi.ss04</key>
	<string>vi.ss04.glif</string>
	<key>vi.ss05</key>
	<string>vi.ss05.glif</string>
	<key>vicircumflex</key>
	<string>vicircumflex.glif</string>
	<key>vidieresis</key>
	<string>vidieresis.glif</string>
	<key>vit</key>
	<string>vit.glif</string>
	<key>vit.ss01</key>
	<string>vit.ss01.glif</string>
	<key>vit.ss02</key>
	<string>vit.ss02.glif</string>
	<key>vit.ss03</key>
	<string>vit.ss03.glif</string>
	<key>vit.ss04</key>
	<string>vit.ss04.glif</string>
	<key>vit.ss05</key>
	<string>vit.ss05.glif</string>
	<key>vj</key>
	<string>vj.glif</string>
	<key>vk</key>
	<string>vk.glif</string>
	<key>vl</key>
	<string>vl.glif</string>
	<key>vm</key>
	<string>vm.glif</string>
	<key>vn</key>
	<string>vn.glif</string>
	<key>vp</key>
	<string>vp.glif</string>
	<key>vr</key>
	<string>vr.glif</string>
	<key>vs</key>
	<string>vs.glif</string>
	<key>vv</key>
	<string>vv.glif</string>
	<key>vw</key>
	<string>vw.glif</string>
	<key>vy</key>
	<string>vy.glif</string>
	<key>vz</key>
	<string>vz.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.ss01</key>
	<string>w.ss01.glif</string>
	<key>w.ss02</key>
	<string>w.ss02.glif</string>
	<key>wb</key>
	<string>wb.glif</string>
	<key>wf</key>
	<string>wf.glif</string>
	<key>wh</key>
	<string>wh.glif</string>
	<key>wi</key>
	<string>wi.glif</string>
	<key>wi.ss01</key>
	<string>wi.ss01.glif</string>
	<key>wi.ss02</key>
	<string>wi.ss02.glif</string>
	<key>wi.ss03</key>
	<string>wi.ss03.glif</string>
	<key>wi.ss04</key>
	<string>wi.ss04.glif</string>
	<key>wi.ss05</key>
	<string>wi.ss05.glif</string>
	<key>wicircumflex</key>
	<string>wicircumflex.glif</string>
	<key>widieresis</key>
	<string>widieresis.glif</string>
	<key>wj</key>
	<string>wj.glif</string>
	<key>wk</key>
	<string>wk.glif</string>
	<key>wl</key>
	<string>wl.glif</string>
	<key>wm</key>
	<string>wm.glif</string>
	<key>wn</key>
	<string>wn.glif</string>
	<key>wp</key>
	<string>wp.glif</string>
	<key>wr</key>
	<string>wr.glif</string>
	<key>ws</key>
	<string>ws.glif</string>
	<key>wv</key>
	<string>wv.glif</string>
	<key>ww</key>
	<string>ww.glif</string>
	<key>wy</key>
	<string>wy.glif</string>
	<key>wz</key>
	<string>wz.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.ss01</key>
	<string>x.ss01.glif</string>
	<key>x.ss02</key>
	<string>x.ss02.glif</string>
	<key>x.ss03</key>
	<string>x.ss03.glif</string>
	<key>x.ss04</key>
	<string>x.ss04.glif</string>
	<key>x.ss05</key>
	<string>x.ss05.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
