<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>A.ss01</string>
		<string>Aacute.ss01</string>
		<string>Acircumflex.ss01</string>
		<string>Adieresis.ss01</string>
		<string>Agrave.ss01</string>
		<string>Aring.ss01</string>
		<string>A.ss02</string>
		<string>Aacute.ss02</string>
		<string>Acircumflex.ss02</string>
		<string>Adieresis.ss02</string>
		<string>Agrave.ss02</string>
		<string>Aring.ss02</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
		<string>B.ss01</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>C.ss01</string>
		<string>C.ss02</string>
	</array>
	<key>public.kern1.D</key>
	<array>
		<string>D</string>
		<string>D.ss01</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
		<string>E.ss01</string>
		<string>Eacute.ss01</string>
		<string>Ecircumflex.ss01</string>
		<string>Edieresis.ss01</string>
		<string>Egrave.ss01</string>
		<string>E.ss02</string>
		<string>Eacute.ss02</string>
		<string>Ecircumflex.ss02</string>
		<string>Edieresis.ss02</string>
		<string>Egrave.ss02</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
		<string>F.ss01</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>G.ss01</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>H.ss01</string>
		<string>H.ss02</string>
	</array>
	<key>public.kern1.I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>I.ss01</string>
		<string>Iacute.ss01</string>
		<string>Icircumflex.ss01</string>
		<string>Idieresis.ss01</string>
		<string>Igrave.ss01</string>
		<string>I.ss02</string>
		<string>Iacute.ss02</string>
		<string>Icircumflex.ss02</string>
		<string>Idieresis.ss02</string>
		<string>Igrave.ss02</string>
		<string>I.ss03</string>
		<string>Iacute.ss03</string>
		<string>Igrave.ss03</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>J</string>
		<string>J.ss01</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>K.ss01</string>
		<string>K.ss02</string>
		<string>K.ss03</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>L.ss01</string>
		<string>L.ss02</string>
	</array>
	<key>public.kern1.M</key>
	<array>
		<string>M</string>
		<string>M.ss01</string>
		<string>M.ss02</string>
	</array>
	<key>public.kern1.N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
		<string>N.ss01</string>
		<string>Ntilde.ss01</string>
		<string>N.ss02</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>O.ss01</string>
		<string>Oacute.ss01</string>
		<string>Ocircumflex.ss01</string>
		<string>Odieresis.ss01</string>
		<string>Ograve.ss01</string>
		<string>Otilde.ss01</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
		<string>P.ss01</string>
		<string>P.ss02</string>
	</array>
	<key>public.kern1.Q</key>
	<array>
		<string>Q</string>
		<string>Q.ss01</string>
		<string>Q.ss02</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>R.ss01</string>
		<string>R.ss02</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>S.ss01</string>
		<string>S.ss02</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>T.ss01</string>
		<string>T.ss02</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>U.ss01</string>
		<string>Uacute.ss01</string>
		<string>Ucircumflex.ss01</string>
		<string>Udieresis.ss01</string>
		<string>Ugrave.ss01</string>
		<string>U.ss02</string>
		<string>Uacute.ss02</string>
		<string>Ucircumflex.ss02</string>
		<string>Udieresis.ss02</string>
		<string>Ugrave.ss02</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
		<string>V.ss01</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
		<string>W.ss01</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
		<string>X.ss01</string>
		<string>X.ss02</string>
		<string>X.ss03</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Y.ss01</string>
		<string>Yacute.ss01</string>
		<string>Ydieresis.ss01</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
		<string>Z.ss01</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>atilde</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>a.ss02</string>
		<string>aacute.ss02</string>
		<string>aring.ss02</string>
		<string>atilde.ss02</string>
		<string>a.ss03</string>
		<string>aacute.ss03</string>
		<string>aring.ss03</string>
		<string>atilde.ss03</string>
		<string>a.ss04</string>
		<string>aacute.ss04</string>
		<string>aring.ss04</string>
		<string>atilde.ss04</string>
		<string>a.ss05</string>
		<string>aacute.ss05</string>
		<string>aring.ss05</string>
		<string>atilde.ss05</string>
	</array>
	<key>public.kern1.bar</key>
	<array>
		<string>bar</string>
		<string>brokenbar</string>
	</array>
	<key>public.kern1.bb</key>
	<array>
		<string>bw</string>
	</array>
	<key>public.kern1.d</key>
	<array>
		<string>d</string>
		<string>d.ss01</string>
		<string>d.ss02</string>
		<string>d.ss03</string>
		<string>d.ss04</string>
		<string>d.ss05</string>
	</array>
	<key>public.kern1.equal</key>
	<array>
		<string>equal</string>
		<string>approxequal</string>
	</array>
	<key>public.kern1.et</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>l</string>
		<string>l.ss01</string>
		<string>l.ss02</string>
		<string>l.ss04</string>
		<string>l.ss05</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>o.ss01</string>
		<string>oacute.ss01</string>
		<string>ocircumflex.ss01</string>
		<string>odieresis.ss01</string>
		<string>ograve.ss01</string>
		<string>otilde.ss01</string>
		<string>o.ss02</string>
	</array>
	<key>public.kern1.quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern1.quotesingle</key>
	<array>
		<string>quoteright</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
		<string>t.ss01</string>
		<string>t.ss02</string>
		<string>t.ss03</string>
		<string>t.ss04</string>
		<string>t.ss05</string>
		<string>t.ss06</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>AE</string>
		<string>A.ss01</string>
		<string>Aacute.ss01</string>
		<string>Acircumflex.ss01</string>
		<string>Adieresis.ss01</string>
		<string>Agrave.ss01</string>
		<string>Aring.ss01</string>
		<string>A.ss02</string>
		<string>Aacute.ss02</string>
		<string>Acircumflex.ss02</string>
		<string>Adieresis.ss02</string>
		<string>Agrave.ss02</string>
		<string>Aring.ss02</string>
	</array>
	<key>public.kern2.B</key>
	<array>
		<string>B</string>
		<string>B.ss01</string>
	</array>
	<key>public.kern2.C</key>
	<array>
		<string>C</string>
		<string>C.ss01</string>
		<string>C.ss02</string>
	</array>
	<key>public.kern2.D</key>
	<array>
		<string>D</string>
		<string>D.ss01</string>
	</array>
	<key>public.kern2.E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>E.ss01</string>
		<string>Eacute.ss01</string>
		<string>Ecircumflex.ss01</string>
		<string>Edieresis.ss01</string>
		<string>Egrave.ss01</string>
		<string>E.ss02</string>
		<string>Eacute.ss02</string>
		<string>Ecircumflex.ss02</string>
		<string>Edieresis.ss02</string>
		<string>Egrave.ss02</string>
	</array>
	<key>public.kern2.F</key>
	<array>
		<string>F</string>
		<string>F.ss01</string>
	</array>
	<key>public.kern2.G</key>
	<array>
		<string>G</string>
		<string>G.ss01</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>H</string>
		<string>H.ss01</string>
		<string>H.ss02</string>
	</array>
	<key>public.kern2.I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>I.ss01</string>
		<string>Iacute.ss01</string>
		<string>Icircumflex.ss01</string>
		<string>Idieresis.ss01</string>
		<string>Igrave.ss01</string>
		<string>I.ss02</string>
		<string>Iacute.ss02</string>
		<string>Icircumflex.ss02</string>
		<string>Idieresis.ss02</string>
		<string>Igrave.ss02</string>
		<string>I.ss03</string>
		<string>Iacute.ss03</string>
		<string>Igrave.ss03</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
		<string>J.ss01</string>
	</array>
	<key>public.kern2.K</key>
	<array>
		<string>K</string>
		<string>K.ss01</string>
		<string>K.ss02</string>
		<string>K.ss03</string>
	</array>
	<key>public.kern2.L</key>
	<array>
		<string>L</string>
		<string>L.ss01</string>
		<string>L.ss02</string>
	</array>
	<key>public.kern2.M</key>
	<array>
		<string>M</string>
		<string>M.ss01</string>
		<string>M.ss02</string>
	</array>
	<key>public.kern2.N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
		<string>N.ss01</string>
		<string>Ntilde.ss01</string>
		<string>N.ss02</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>O.ss01</string>
		<string>Oacute.ss01</string>
		<string>Ocircumflex.ss01</string>
		<string>Odieresis.ss01</string>
		<string>Ograve.ss01</string>
		<string>Otilde.ss01</string>
	</array>
	<key>public.kern2.P</key>
	<array>
		<string>P</string>
		<string>P.ss01</string>
		<string>P.ss02</string>
	</array>
	<key>public.kern2.Q</key>
	<array>
		<string>Q</string>
		<string>Q.ss01</string>
		<string>Q.ss02</string>
	</array>
	<key>public.kern2.R</key>
	<array>
		<string>R</string>
		<string>R.ss01</string>
		<string>R.ss02</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>S.ss01</string>
		<string>S.ss02</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>T.ss01</string>
		<string>T.ss02</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>U.ss01</string>
		<string>Uacute.ss01</string>
		<string>Ucircumflex.ss01</string>
		<string>Udieresis.ss01</string>
		<string>Ugrave.ss01</string>
		<string>U.ss02</string>
		<string>Uacute.ss02</string>
		<string>Ucircumflex.ss02</string>
		<string>Udieresis.ss02</string>
		<string>Ugrave.ss02</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
		<string>V.ss01</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
		<string>W.ss01</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
		<string>X.ss01</string>
		<string>X.ss02</string>
		<string>X.ss03</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Y.ss01</string>
		<string>Yacute.ss01</string>
		<string>Ydieresis.ss01</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Z.ss01</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>g</string>
		<string>q</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>d.ss01</string>
		<string>e.ss01</string>
		<string>eacute.ss01</string>
		<string>ecircumflex.ss01</string>
		<string>edieresis.ss01</string>
		<string>egrave.ss01</string>
		<string>a.ss02</string>
		<string>aacute.ss02</string>
		<string>acircumflex.ss02</string>
		<string>adieresis.ss02</string>
		<string>agrave.ss02</string>
		<string>aring.ss02</string>
		<string>atilde.ss02</string>
		<string>eacute.ss02</string>
		<string>ecircumflex.ss02</string>
		<string>edieresis.ss02</string>
		<string>egrave.ss02</string>
		<string>a.ss03</string>
		<string>aacute.ss03</string>
		<string>acircumflex.ss03</string>
		<string>adieresis.ss03</string>
		<string>agrave.ss03</string>
		<string>aring.ss03</string>
		<string>atilde.ss03</string>
		<string>eacute.ss03</string>
		<string>ecircumflex.ss03</string>
		<string>edieresis.ss03</string>
		<string>egrave.ss03</string>
		<string>a.ss04</string>
		<string>aacute.ss04</string>
		<string>acircumflex.ss04</string>
		<string>adieresis.ss04</string>
		<string>agrave.ss04</string>
		<string>aring.ss04</string>
		<string>atilde.ss04</string>
		<string>eacute.ss04</string>
		<string>ecircumflex.ss04</string>
		<string>edieresis.ss04</string>
		<string>egrave.ss04</string>
		<string>a.ss05</string>
		<string>aacute.ss05</string>
		<string>acircumflex.ss05</string>
		<string>adieresis.ss05</string>
		<string>agrave.ss05</string>
		<string>aring.ss05</string>
		<string>atilde.ss05</string>
		<string>eacute.ss05</string>
		<string>ecircumflex.ss05</string>
		<string>edieresis.ss05</string>
		<string>egrave.ss05</string>
	</array>
	<key>public.kern2.bar</key>
	<array>
		<string>bar</string>
		<string>brokenbar</string>
	</array>
	<key>public.kern2.equal</key>
	<array>
		<string>equal</string>
		<string>approxequal</string>
	</array>
	<key>public.kern2.et</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern2.h</key>
	<array>
		<string>h</string>
		<string>h.ss01</string>
		<string>h.ss02</string>
		<string>h.ss03</string>
		<string>h.ss04</string>
		<string>h.ss05</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>o</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oi</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>o.ss01</string>
		<string>oacute.ss01</string>
		<string>ocircumflex.ss01</string>
		<string>odieresis.ss01</string>
		<string>ograve.ss01</string>
		<string>oi.ss01</string>
		<string>otilde.ss01</string>
		<string>o.ss02</string>
		<string>oi.ss02</string>
		<string>oi.ss03</string>
		<string>oi.ss04</string>
		<string>oi.ss05</string>
		<string>circumol</string>
		<string>oacutej</string>
		<string>oacutek</string>
		<string>oacutel</string>
		<string>oacutem</string>
		<string>oacuten</string>
		<string>oacutep</string>
		<string>oacuter</string>
		<string>oacutes</string>
		<string>oacutev</string>
		<string>oacutew</string>
		<string>oacutey</string>
		<string>oacutez</string>
		<string>ocircumflexj</string>
		<string>ocircumflexk</string>
		<string>ocircumflexl</string>
		<string>ocircumflexm</string>
		<string>ocircumflexn</string>
		<string>ocircumflexp</string>
		<string>ocircumflexr</string>
		<string>ocircumflexs</string>
		<string>ocircumflexv</string>
		<string>ocircumflexw</string>
		<string>ocircumflexy</string>
		<string>ocircumflexz</string>
		<string>odieresisj</string>
		<string>odieresisk</string>
		<string>odieresisl</string>
		<string>odieresism</string>
		<string>odieresisn</string>
		<string>odieresisp</string>
		<string>odieresisr</string>
		<string>odieresiss</string>
		<string>odieresisv</string>
		<string>odieresisw</string>
		<string>odieresisy</string>
		<string>odieresisz</string>
		<string>oj</string>
		<string>ok</string>
		<string>ol</string>
		<string>om</string>
		<string>on</string>
		<string>op</string>
		<string>or</string>
		<string>os</string>
		<string>ov</string>
		<string>ow</string>
		<string>oy</string>
		<string>oz</string>
		<string>ok.ss01</string>
		<string>ok.ss02</string>
		<string>ok.ss03</string>
		<string>ok.ss04</string>
		<string>ok.ss05</string>
		<string>ol.ss01</string>
		<string>ol.ss02</string>
		<string>ol.ss03</string>
		<string>ol.ss04</string>
		<string>ol.ss05</string>
		<string>om.ss01</string>
		<string>om.ss02</string>
		<string>om.ss03</string>
		<string>om.ss04</string>
		<string>om.ss05</string>
		<string>on.ss01</string>
		<string>on.ss02</string>
		<string>on.ss03</string>
		<string>on.ss04</string>
		<string>on.ss05</string>
		<string>or.ss01</string>
		<string>or.ss02</string>
		<string>or.ss03</string>
		<string>or.ss04</string>
		<string>or.ss05</string>
		<string>os.ss01</string>
		<string>os.ss02</string>
		<string>ov.ss01</string>
		<string>ov.ss02</string>
		<string>ov.ss03</string>
		<string>ov.ss04</string>
	</array>
	<key>public.kern2.p</key>
	<array>
		<string>p</string>
		<string>m.ss01</string>
		<string>n.ss01</string>
		<string>ntilde.ss01</string>
	</array>
	<key>public.kern2.quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern2.quotesingle</key>
	<array>
		<string>quoteright</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.r</key>
	<array>
		<string>r</string>
		<string>r.ss01</string>
		<string>r.ss02</string>
		<string>r.ss03</string>
		<string>r.ss04</string>
		<string>r.ss05</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>s.ss01</string>
		<string>s.ss02</string>
		<string>s.ss03</string>
		<string>s.ss04</string>
		<string>s.ss05</string>
		<string>s.ss06</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>b</string>
		<string>f</string>
		<string>t</string>
		<string>l.ss01</string>
		<string>t.ss01</string>
		<string>t.ss02</string>
		<string>t.ss03</string>
		<string>t.ss04</string>
		<string>t.ss05</string>
		<string>t.ss06</string>
		<string>b_y</string>
		<string>bb</string>
		<string>bf</string>
		<string>bh</string>
		<string>bi</string>
		<string>bicircumflex</string>
		<string>bidieresis</string>
		<string>bj</string>
		<string>bk</string>
		<string>bl</string>
		<string>bm</string>
		<string>bn</string>
		<string>bp</string>
		<string>br</string>
		<string>bs</string>
		<string>bv</string>
		<string>bw</string>
		<string>bz</string>
		<string>tt</string>
		<string>bi.ss01</string>
		<string>bi.ss02</string>
		<string>bi.ss03</string>
		<string>bi.ss04</string>
		<string>bi.ss05</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>u.ss01</string>
		<string>uacute.ss01</string>
		<string>ucircumflex.ss01</string>
		<string>udieresis.ss01</string>
		<string>ugrave.ss01</string>
		<string>u.ss02</string>
		<string>uacute.ss02</string>
		<string>ucircumflex.ss02</string>
		<string>udieresis.ss02</string>
		<string>ugrave.ss02</string>
		<string>u.ss03</string>
		<string>uacute.ss03</string>
		<string>ucircumflex.ss03</string>
		<string>udieresis.ss03</string>
		<string>ugrave.ss03</string>
		<string>u.ss04</string>
		<string>uacute.ss04</string>
		<string>ucircumflex.ss04</string>
		<string>udieresis.ss04</string>
		<string>ugrave.ss04</string>
		<string>u.ss05</string>
		<string>uacute.ss05</string>
		<string>ucircumflex.ss05</string>
		<string>udieresis.ss05</string>
		<string>ugrave.ss05</string>
	</array>
</dict>
</plist>
