<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array/>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Use Typo Metrics</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>m01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>Germandbls</string>
		<string>T</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>A.ss01</string>
		<string>Aacute.ss01</string>
		<string>Acircumflex.ss01</string>
		<string>Adieresis.ss01</string>
		<string>Agrave.ss01</string>
		<string>Aring.ss01</string>
		<string>B.ss01</string>
		<string>C.ss01</string>
		<string>Ccedilla.ss01</string>
		<string>D.ss01</string>
		<string>E.ss01</string>
		<string>Eacute.ss01</string>
		<string>Ecircumflex.ss01</string>
		<string>Edieresis.ss01</string>
		<string>Egrave.ss01</string>
		<string>F.ss01</string>
		<string>G.ss01</string>
		<string>H.ss01</string>
		<string>I.ss01</string>
		<string>Iacute.ss01</string>
		<string>Icircumflex.ss01</string>
		<string>Idieresis.ss01</string>
		<string>Igrave.ss01</string>
		<string>J.ss01</string>
		<string>K.ss01</string>
		<string>L.ss01</string>
		<string>M.ss01</string>
		<string>N.ss01</string>
		<string>Ntilde.ss01</string>
		<string>O.ss01</string>
		<string>Oacute.ss01</string>
		<string>Ocircumflex.ss01</string>
		<string>Odieresis.ss01</string>
		<string>Ograve.ss01</string>
		<string>Otilde.ss01</string>
		<string>P.ss01</string>
		<string>Q.ss01</string>
		<string>R.ss01</string>
		<string>S.ss01</string>
		<string>T.ss01</string>
		<string>U.ss01</string>
		<string>Uacute.ss01</string>
		<string>Ucircumflex.ss01</string>
		<string>Udieresis.ss01</string>
		<string>Ugrave.ss01</string>
		<string>V.ss01</string>
		<string>W.ss01</string>
		<string>X.ss01</string>
		<string>Y.ss01</string>
		<string>Yacute.ss01</string>
		<string>Ydieresis.ss01</string>
		<string>Z.ss01</string>
		<string>A.ss02</string>
		<string>Aacute.ss02</string>
		<string>Acircumflex.ss02</string>
		<string>Adieresis.ss02</string>
		<string>Agrave.ss02</string>
		<string>Aring.ss02</string>
		<string>C.ss02</string>
		<string>Ccedilla.ss02</string>
		<string>E.ss02</string>
		<string>Eacute.ss02</string>
		<string>Ecircumflex.ss02</string>
		<string>Edieresis.ss02</string>
		<string>Egrave.ss02</string>
		<string>H.ss02</string>
		<string>I.ss02</string>
		<string>Iacute.ss02</string>
		<string>Icircumflex.ss02</string>
		<string>Idieresis.ss02</string>
		<string>Igrave.ss02</string>
		<string>K.ss02</string>
		<string>L.ss02</string>
		<string>M.ss02</string>
		<string>N.ss02</string>
		<string>P.ss02</string>
		<string>Q.ss02</string>
		<string>R.ss02</string>
		<string>S.ss02</string>
		<string>T.ss02</string>
		<string>U.ss02</string>
		<string>Uacute.ss02</string>
		<string>Ucircumflex.ss02</string>
		<string>Udieresis.ss02</string>
		<string>Ugrave.ss02</string>
		<string>X.ss02</string>
		<string>I.ss03</string>
		<string>Iacute.ss03</string>
		<string>Igrave.ss03</string>
		<string>K.ss03</string>
		<string>X.ss03</string>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oi</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>germandbls</string>
		<string>t</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>v</string>
		<string>vy</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>c.ss01</string>
		<string>d.ss01</string>
		<string>e.ss01</string>
		<string>eacute.ss01</string>
		<string>ecircumflex.ss01</string>
		<string>edieresis.ss01</string>
		<string>egrave.ss01</string>
		<string>h.ss01</string>
		<string>i.ss01</string>
		<string>iacute.ss01</string>
		<string>icircumflex.ss01</string>
		<string>idieresis.ss01</string>
		<string>igrave.ss01</string>
		<string>k.ss01</string>
		<string>l.ss01</string>
		<string>m.ss01</string>
		<string>n.ss01</string>
		<string>ntilde.ss01</string>
		<string>o.ss01</string>
		<string>oacute.ss01</string>
		<string>ocircumflex.ss01</string>
		<string>odieresis.ss01</string>
		<string>ograve.ss01</string>
		<string>oi.ss01</string>
		<string>otilde.ss01</string>
		<string>r.ss01</string>
		<string>s.ss01</string>
		<string>t.ss01</string>
		<string>u.ss01</string>
		<string>uacute.ss01</string>
		<string>ucircumflex.ss01</string>
		<string>udieresis.ss01</string>
		<string>ugrave.ss01</string>
		<string>v.ss01</string>
		<string>w.ss01</string>
		<string>x.ss01</string>
		<string>a.ss02</string>
		<string>aacute.ss02</string>
		<string>acircumflex.ss02</string>
		<string>adieresis.ss02</string>
		<string>agrave.ss02</string>
		<string>aring.ss02</string>
		<string>atilde.ss02</string>
		<string>c.ss02</string>
		<string>d.ss02</string>
		<string>e.ss02</string>
		<string>eacute.ss02</string>
		<string>ecircumflex.ss02</string>
		<string>edieresis.ss02</string>
		<string>egrave.ss02</string>
		<string>h.ss02</string>
		<string>i.ss02</string>
		<string>iacute.ss02</string>
		<string>icircumflex.ss02</string>
		<string>idieresis.ss02</string>
		<string>igrave.ss02</string>
		<string>k.ss02</string>
		<string>l.ss02</string>
		<string>m.ss02</string>
		<string>n.ss02</string>
		<string>ntilde.ss02</string>
		<string>o.ss02</string>
		<string>oi.ss02</string>
		<string>r.ss02</string>
		<string>s.ss02</string>
		<string>t.ss02</string>
		<string>u.ss02</string>
		<string>uacute.ss02</string>
		<string>ucircumflex.ss02</string>
		<string>udieresis.ss02</string>
		<string>ugrave.ss02</string>
		<string>v.ss02</string>
		<string>w.ss02</string>
		<string>x.ss02</string>
		<string>a.ss03</string>
		<string>aacute.ss03</string>
		<string>acircumflex.ss03</string>
		<string>adieresis.ss03</string>
		<string>agrave.ss03</string>
		<string>aring.ss03</string>
		<string>atilde.ss03</string>
		<string>c.ss03</string>
		<string>d.ss03</string>
		<string>e.ss03</string>
		<string>eacute.ss03</string>
		<string>ecircumflex.ss03</string>
		<string>edieresis.ss03</string>
		<string>egrave.ss03</string>
		<string>h.ss03</string>
		<string>i.ss03</string>
		<string>iacute.ss03</string>
		<string>icircumflex.ss03</string>
		<string>idieresis.ss03</string>
		<string>igrave.ss03</string>
		<string>k.ss03</string>
		<string>l.ss03</string>
		<string>m.ss03</string>
		<string>n.ss03</string>
		<string>ntilde.ss03</string>
		<string>oi.ss03</string>
		<string>r.ss03</string>
		<string>s.ss03</string>
		<string>t.ss03</string>
		<string>u.ss03</string>
		<string>uacute.ss03</string>
		<string>ucircumflex.ss03</string>
		<string>udieresis.ss03</string>
		<string>ugrave.ss03</string>
		<string>x.ss03</string>
		<string>a.ss04</string>
		<string>aacute.ss04</string>
		<string>acircumflex.ss04</string>
		<string>adieresis.ss04</string>
		<string>agrave.ss04</string>
		<string>aring.ss04</string>
		<string>atilde.ss04</string>
		<string>c.ss04</string>
		<string>d.ss04</string>
		<string>e.ss04</string>
		<string>eacute.ss04</string>
		<string>ecircumflex.ss04</string>
		<string>edieresis.ss04</string>
		<string>egrave.ss04</string>
		<string>h.ss04</string>
		<string>i.ss04</string>
		<string>iacute.ss04</string>
		<string>icircumflex.ss04</string>
		<string>idieresis.ss04</string>
		<string>igrave.ss04</string>
		<string>k.ss04</string>
		<string>l.ss04</string>
		<string>m.ss04</string>
		<string>n.ss04</string>
		<string>ntilde.ss04</string>
		<string>oi.ss04</string>
		<string>r.ss04</string>
		<string>s.ss04</string>
		<string>t.ss04</string>
		<string>u.ss04</string>
		<string>uacute.ss04</string>
		<string>ucircumflex.ss04</string>
		<string>udieresis.ss04</string>
		<string>ugrave.ss04</string>
		<string>x.ss04</string>
		<string>a.ss05</string>
		<string>aacute.ss05</string>
		<string>acircumflex.ss05</string>
		<string>adieresis.ss05</string>
		<string>agrave.ss05</string>
		<string>aring.ss05</string>
		<string>atilde.ss05</string>
		<string>c.ss05</string>
		<string>d.ss05</string>
		<string>e.ss05</string>
		<string>eacute.ss05</string>
		<string>ecircumflex.ss05</string>
		<string>edieresis.ss05</string>
		<string>egrave.ss05</string>
		<string>h.ss05</string>
		<string>i.ss05</string>
		<string>iacute.ss05</string>
		<string>icircumflex.ss05</string>
		<string>idieresis.ss05</string>
		<string>igrave.ss05</string>
		<string>k.ss05</string>
		<string>l.ss05</string>
		<string>m.ss05</string>
		<string>n.ss05</string>
		<string>ntilde.ss05</string>
		<string>oi.ss05</string>
		<string>r.ss05</string>
		<string>s.ss05</string>
		<string>t.ss05</string>
		<string>u.ss05</string>
		<string>uacute.ss05</string>
		<string>ucircumflex.ss05</string>
		<string>udieresis.ss05</string>
		<string>ugrave.ss05</string>
		<string>x.ss05</string>
		<string>s.ss06</string>
		<string>t.ss06</string>
		<string>b_y</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>space</string>
		<string>thinspace</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>quotesingle</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>cent</string>
		<string>dollar</string>
		<string>euro</string>
		<string>sterling</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>infinity</string>
		<string>percent</string>
		<string>upArrow</string>
		<string>northEastArrow</string>
		<string>rightArrow</string>
		<string>southEastArrow</string>
		<string>downArrow</string>
		<string>southWestArrow</string>
		<string>leftArrow</string>
		<string>northWestArrow</string>
		<string>leftRightArrow</string>
		<string>upDownArrow</string>
		<string>lozenge</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>hungarumlautcomb</string>
		<string>caroncomb.alt</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>brevecomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>commaturnedabovecomb</string>
		<string>commaaccentcomb</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>Ornement1</string>
		<string>Ornement2</string>
		<string>Ornement3</string>
		<string>Ornement4</string>
		<string>Ornement5</string>
		<string>Ornement6</string>
		<string>Ornement7</string>
		<string>Ornement8</string>
		<string>Ornementbdc_1</string>
		<string>Ornementbdc_2</string>
		<string>Ornementbdc_3</string>
		<string>Ornementbdc_4</string>
		<string>Ornementbdc_5</string>
		<string>Ornementbdc_6</string>
		<string>VTF</string>
		<string>_owl</string>
		<string>attaque</string>
		<string>barre</string>
		<string>bb</string>
		<string>bf</string>
		<string>bh</string>
		<string>bi</string>
		<string>bicircumflex</string>
		<string>bidieresis</string>
		<string>bj</string>
		<string>bk</string>
		<string>bl</string>
		<string>bm</string>
		<string>bn</string>
		<string>bp</string>
		<string>br</string>
		<string>bs</string>
		<string>bv</string>
		<string>bw</string>
		<string>bz</string>
		<string>circumol</string>
		<string>contrepoincon</string>
		<string>dot</string>
		<string>fut-att-bdc</string>
		<string>fut-bdc</string>
		<string>fut_cap</string>
		<string>it</string>
		<string>oacuteb</string>
		<string>oacutebr</string>
		<string>oacutebs</string>
		<string>oacutef</string>
		<string>oacuteh</string>
		<string>oacutej</string>
		<string>oacutek</string>
		<string>oacutel</string>
		<string>oacutem</string>
		<string>oacuten</string>
		<string>oacutep</string>
		<string>oacuter</string>
		<string>oacutes</string>
		<string>oacutev</string>
		<string>oacutevi</string>
		<string>oacutevicircumflex</string>
		<string>oacutevidieresis</string>
		<string>oacutew</string>
		<string>oacutewi</string>
		<string>oacutewicircumflex</string>
		<string>oacutewidieresis</string>
		<string>oacutews</string>
		<string>oacutey</string>
		<string>oacutez</string>
		<string>ob</string>
		<string>obr</string>
		<string>obs</string>
		<string>ocircumflexb</string>
		<string>ocircumflexbr</string>
		<string>ocircumflexbs</string>
		<string>ocircumflexf</string>
		<string>ocircumflexh</string>
		<string>ocircumflexj</string>
		<string>ocircumflexk</string>
		<string>ocircumflexl</string>
		<string>ocircumflexm</string>
		<string>ocircumflexn</string>
		<string>ocircumflexp</string>
		<string>ocircumflexr</string>
		<string>ocircumflexs</string>
		<string>ocircumflexv</string>
		<string>ocircumflexvi</string>
		<string>ocircumflexvicircumflex</string>
		<string>ocircumflexvidieresis</string>
		<string>ocircumflexw</string>
		<string>ocircumflexwi</string>
		<string>ocircumflexwicircumflex</string>
		<string>ocircumflexwidieresis</string>
		<string>ocircumflexws</string>
		<string>ocircumflexy</string>
		<string>ocircumflexz</string>
		<string>odieresisb</string>
		<string>odieresisbr</string>
		<string>odieresisbs</string>
		<string>odieresisf</string>
		<string>odieresish</string>
		<string>odieresisj</string>
		<string>odieresisk</string>
		<string>odieresisl</string>
		<string>odieresism</string>
		<string>odieresisn</string>
		<string>odieresisp</string>
		<string>odieresisr</string>
		<string>odieresiss</string>
		<string>odieresisv</string>
		<string>odieresisvi</string>
		<string>odieresisvicircumflex</string>
		<string>odieresisvidieresis</string>
		<string>odieresisw</string>
		<string>odieresiswi</string>
		<string>odieresiswicircumflex</string>
		<string>odieresiswidieresis</string>
		<string>odieresisws</string>
		<string>odieresisy</string>
		<string>odieresisz</string>
		<string>of</string>
		<string>oh</string>
		<string>oicircumflex</string>
		<string>oidieseris</string>
		<string>oit</string>
		<string>oj</string>
		<string>ok</string>
		<string>ol</string>
		<string>om</string>
		<string>on</string>
		<string>op</string>
		<string>or</string>
		<string>os</string>
		<string>ov</string>
		<string>ovi</string>
		<string>ovicircumflex</string>
		<string>ovidieresis</string>
		<string>ow</string>
		<string>owi</string>
		<string>owicircumflex</string>
		<string>owidieresis</string>
		<string>ows</string>
		<string>oy</string>
		<string>oz</string>
		<string>pont</string>
		<string>pont-fut-bdc</string>
		<string>pont_bis</string>
		<string>tt</string>
		<string>vb</string>
		<string>vf</string>
		<string>vh</string>
		<string>vi</string>
		<string>vicircumflex</string>
		<string>vidieresis</string>
		<string>vit</string>
		<string>vj</string>
		<string>vk</string>
		<string>vl</string>
		<string>vm</string>
		<string>vn</string>
		<string>vp</string>
		<string>vr</string>
		<string>vs</string>
		<string>vv</string>
		<string>vw</string>
		<string>vz</string>
		<string>wb</string>
		<string>wf</string>
		<string>wh</string>
		<string>wi</string>
		<string>wicircumflex</string>
		<string>widieresis</string>
		<string>wj</string>
		<string>wk</string>
		<string>wl</string>
		<string>wm</string>
		<string>wn</string>
		<string>wp</string>
		<string>wr</string>
		<string>ws</string>
		<string>wv</string>
		<string>ww</string>
		<string>wy</string>
		<string>wz</string>
		<string>Ornementbdc_1.001</string>
		<string>bi.ss01</string>
		<string>bi.ss02</string>
		<string>bi.ss03</string>
		<string>bi.ss04</string>
		<string>bi.ss05</string>
		<string>it.ss01</string>
		<string>it.ss02</string>
		<string>it.ss03</string>
		<string>it.ss04</string>
		<string>it.ss05</string>
		<string>oicircumflex.ss01</string>
		<string>oicircumflex.ss02</string>
		<string>oicircumflex.ss03</string>
		<string>oicircumflex.ss04</string>
		<string>oicircumflex.ss05</string>
		<string>oidieseris.ss01</string>
		<string>oidieseris.ss02</string>
		<string>oidieseris.ss03</string>
		<string>oidieseris.ss04</string>
		<string>oidieseris.ss05</string>
		<string>oit.ss01</string>
		<string>oit.ss02</string>
		<string>oit.ss03</string>
		<string>oit.ss04</string>
		<string>oit.ss05</string>
		<string>ok.ss01</string>
		<string>ok.ss02</string>
		<string>ok.ss03</string>
		<string>ok.ss04</string>
		<string>ok.ss05</string>
		<string>ol.ss01</string>
		<string>ol.ss02</string>
		<string>ol.ss03</string>
		<string>ol.ss04</string>
		<string>ol.ss05</string>
		<string>om.ss01</string>
		<string>om.ss02</string>
		<string>om.ss03</string>
		<string>om.ss04</string>
		<string>om.ss05</string>
		<string>on.ss01</string>
		<string>on.ss02</string>
		<string>on.ss03</string>
		<string>on.ss04</string>
		<string>on.ss05</string>
		<string>or.ss01</string>
		<string>or.ss02</string>
		<string>or.ss03</string>
		<string>or.ss04</string>
		<string>or.ss05</string>
		<string>os.ss01</string>
		<string>os.ss02</string>
		<string>ov.ss01</string>
		<string>ov.ss02</string>
		<string>ov.ss03</string>
		<string>ov.ss04</string>
		<string>ovi.ss01</string>
		<string>ovi.ss02</string>
		<string>ovi.ss03</string>
		<string>ovi.ss04</string>
		<string>ovi.ss05</string>
		<string>owi.ss01</string>
		<string>owi.ss02</string>
		<string>owi.ss03</string>
		<string>owi.ss04</string>
		<string>owi.ss05</string>
		<string>vi.ss01</string>
		<string>vi.ss02</string>
		<string>vi.ss03</string>
		<string>vi.ss04</string>
		<string>vi.ss05</string>
		<string>vit.ss01</string>
		<string>vit.ss02</string>
		<string>vit.ss03</string>
		<string>vit.ss04</string>
		<string>vit.ss05</string>
		<string>wi.ss01</string>
		<string>wi.ss02</string>
		<string>wi.ss03</string>
		<string>wi.ss04</string>
		<string>wi.ss05</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>brevecomb</key>
		<string>uni0306</string>
		<key>caroncomb</key>
		<string>uni030C</string>
		<key>caroncomb.alt</key>
		<string>uni030C.alt</string>
		<key>cedillacomb</key>
		<string>uni0327</string>
		<key>circumflexcomb</key>
		<string>uni0302</string>
		<key>commaaccentcomb</key>
		<string>uni0326</string>
		<key>commaturnedabovecomb</key>
		<string>uni0312</string>
		<key>dieresiscomb</key>
		<string>uni0308</string>
		<key>dotaccentcomb</key>
		<string>uni0307</string>
		<key>downArrow</key>
		<string>arrowdown</string>
		<key>euro</key>
		<string>Euro</string>
		<key>guillemetleft</key>
		<string>guillemotleft</string>
		<key>guillemetright</key>
		<string>guillemotright</string>
		<key>hungarumlautcomb</key>
		<string>uni030B</string>
		<key>leftArrow</key>
		<string>arrowleft</string>
		<key>leftRightArrow</key>
		<string>arrowboth</string>
		<key>macroncomb</key>
		<string>uni0304</string>
		<key>northEastArrow</key>
		<string>uni2197</string>
		<key>northWestArrow</key>
		<string>uni2196</string>
		<key>ogonekcomb</key>
		<string>uni0328</string>
		<key>oi</key>
		<string>uni01A3</string>
		<key>oi.ss01</key>
		<string>uni01A3.ss01</string>
		<key>oi.ss02</key>
		<string>uni01A3.ss02</string>
		<key>oi.ss03</key>
		<string>uni01A3.ss03</string>
		<key>oi.ss04</key>
		<string>uni01A3.ss04</string>
		<key>oi.ss05</key>
		<string>uni01A3.ss05</string>
		<key>rightArrow</key>
		<string>arrowright</string>
		<key>ringcomb</key>
		<string>uni030A</string>
		<key>southEastArrow</key>
		<string>uni2198</string>
		<key>southWestArrow</key>
		<string>uni2199</string>
		<key>thinspace</key>
		<string>uni2009</string>
		<key>upArrow</key>
		<string>arrowup</string>
		<key>upDownArrow</key>
		<string>arrowupdn</string>
		<key>vy</key>
		<string>uniA761</string>
	</dict>
</dict>
</plist>
